
body {
    background-color: #111111;
    color: #7FDBFF;
    font-family: Calibri;
}

.main-header {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.main-options{
    display: table;
    max-width: 1100px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 50px 0px;
    padding: 20px 0;
}

.main-options .select-data{
    min-width: 100px;
    display: table-cell;
    height: auto;
}

.main-options .small-width{
    width: 150px;
}

.main-options .higher-width{
    width: 300px;
}

.main-options .select-data label{
    display: block;
    padding-bottom: 10px;
    font-size: 1.05rem;
}

.main-options .select-data #base-currency div,
.main-options .select-data #cryptocurrencies-dropdown div{
    color: #007eff;
    background-color: #111111;
}

.main-options .select-data .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label{
    color: #007eff;
}

.main-options .select-data #start-date-picker input,
.main-options .select-data #end-date-picker input{
    background-color: #111111;
    color: #007eff;
    border: none;
    font-size: 15px;
}

.graph-container{
    max-width: 1200px;
    margin: 0 auto;
}


@media (max-width: 870px){

    .main-options .select-data{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .main-options .select-data {
        min-width: 300px;
    }

    .main-options .select-data #base-currency{
        min-width: 130px;
    }
}




